In [18]:
import os
import re
import pandas as pd
import numpy as np
import pickle

In [2]:
data = pd.read_csv("../data/all_tickets.csv")

In [3]:
len(data)

48549

In [4]:
data.columns

Index(['title', 'body', 'ticket_type', 'category', 'sub_category1',
       'sub_category2', 'business_service', 'urgency', 'impact'],
      dtype='object')

In [5]:
data.head()

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact
0,NaN,hi since recruiter lead permission approve req...,1,4,2,21,71,3,4
1,connection with icon,icon dear please setup icon per icon engineers...,1,6,22,7,26,3,4
2,work experience user,work experience user hi work experience studen...,1,5,13,7,32,3,4
3,requesting for meeting,requesting meeting hi please help follow equip...,1,5,13,7,32,3,4
4,reset passwords for external accounts,re expire days hi ask help update passwords co...,1,4,2,76,4,3,4

In [9]:
data.tail()

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact
48544,git space for a project issues with adding users,sent tuesday july re git space for hi got righ...,0,4,21,1,39,1,3
48545,error,sent july error hi guys can you help out with ...,0,4,9,41,10,2,3
48546,connection issues,sent tuesday july connection issues hello have...,0,5,32,0,32,2,3
48547,error cube reports,sent tuesday july error hello guys have receiv...,0,4,21,41,35,1,3
48548,running out on extensions,hello please be advised we running out extensi...,0,4,51,98,96,2,3

In [11]:
data.body[len(data) - 2]

'sent tuesday july error hello guys have received error when was trying export some reports status cube reports cannot be run without web components installed for your browser learn more about installing contact technical please help possible because we need process overtime hours booked buy our colleagues thanks assistant ext ale address street center'

In [12]:
data = data[data.body.notna()]

In [13]:
len(data)

48549

In [14]:
bodyCollection = data.body.values.tolist()

In [15]:
len(bodyCollection)

48549

In [16]:
bodyCollection = [b for b in bodyCollection if b and len(b) > 1]

In [17]:
len(bodyCollection)

48549

In [19]:
with open("../data/body_collection.pkl", "wb") as fp:
    pickle.dump(bodyCollection, fp)